<div class="posts_container posts_container--list_view">
    <div class="view_toggle">
        <button type="button" class="view_btn view_btn--grid active" aria-label="Grid view">
            <svg width="22" height="22"><use href="/sprite.svg#icon-grid"></use></svg>
        </button>
        <button type="button" class="view_btn view_btn--list" aria-label="List view">
            <svg width="24" height="22"><use href="/sprite.svg#icon-list"></use></svg>
        </button>
    </div>
    <ul class="posts_list">

        <li class="posts_item">
            <article class="post_card">Å
                <div class="post_preview">
                    <picture>
                        <source srcset="/img/content/content-1.avif 1x, /img/content/content-1@2x.avif 2x" type="image/avif">
                        <source srcset="/img/content/content-1.webp 1x, /img/content/content-1@2x.webp 2x" type="image/webp">
                        <img src="/img/content/content-1.jpg"
                             srcset="/img/content/content-1@2x.jpg 2x"
                             alt="Content image"
                             loading="lazy">
                    </picture>
                </div>

                <div class="post_content">
                    <div class="post_meta_left">
                        <h2>Today</h2>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                128
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                31
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_center">
                        <time datetime="2016-08-09" class="post_date">9-08-2016</time>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                67
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                22
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_right">
                        <span class="post_action_type">Image upload</span>
                        <time datetime="2016-04-11" class="post_action_date">11-04-2016</time>
                    </div>
                </div>
            </article>
        </li>
        <li class="posts_item">
            <article class="post_card">
                <div class="post_preview">
                    <picture>
                        <source srcset="img/content/content-2.avif 1x, img/content/content-2@2x.avif 2x" type="image/avif">
                        <source srcset="img/content/content-2.webp 1x, img/content/content-2@2x.webp 2x" type="image/webp">
                        <img src="img/content/content-2.jpg"
                             srcset="img/content/content-2@2x.jpg 2x"
                             alt="Content image"
                             loading="lazy">
                    </picture>
                </div>

                <div class="post_content">
                    <div class="post_meta_left">
                        <h2>Today</h2>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                128
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                31
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_center">
                        <time datetime="2016-08-09" class="post_date">9-08-2016</time>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                67
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                22
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_right">
                        <span class="post_action_type">Image upload</span>
                        <time datetime="2016-04-11" class="post_action_date">11-04-2016</time>
                    </div>
                </div>
            </article>
        </li>
        <li class="posts_item">
            <article class="post_card">
                <div class="post_preview">
                    <picture>
                        <source srcset="/img/content/content-3.avif 1x, /img/content/content-3@2x.avif 2x" type="image/avif">
                        <source srcset="/img/content/content-3.webp 1x, /img/content/content-3@2x.webp 2x" type="image/webp">
                        <img src="/img/content/content-3.jpg"
                             srcset="/img/content/content-3@2x.jpg 2x"
                             alt="Content image"
                             loading="lazy">
                    </picture>
                </div>

                <div class="post_content">
                    <div class="post_meta_left">
                        <h2>Today</h2>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                128
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                31
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_center">
                        <time datetime="2016-08-09" class="post_date">9-08-2016</time>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                67
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                22
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_right">
                        <span class="post_action_type">Image upload</span>
                        <time datetime="2016-04-11" class="post_action_date">11-04-2016</time>
                    </div>
                </div>
            </article>
        </li>
        <li class="posts_item">
            <article class="post_card">
                <div class="post_preview">
                    <picture>
                        <source srcset="img/content/content-4.avif 1x, img/content/content-4@2x.avif 2x" type="image/avif">
                        <source srcset="img/content/content-4.webp 1x, img/content/content-4@2x.webp 2x" type="image/webp">
                        <img src="img/content/content-4.jpg"
                             srcset="img/content/content-4@2x.jpg 2x"
                             alt="Content image"
                             loading="lazy">
                    </picture>
                </div>

                <div class="post_content">
                    <div class="post_meta_left">
                        <h2>Today</h2>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                128
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                31
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_center">
                        <time datetime="2016-08-09" class="post_date">9-08-2016</time>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                67
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                22
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_right">
                        <span class="post_action_type">Image upload</span>
                        <time datetime="2016-04-11" class="post_action_date">11-04-2016</time>
                    </div>
                </div>
            </article>
        </li>
        <li class="posts_item">
            <article class="post_card">
                <div class="post_preview">
                    <picture>
                        <source srcset="img/content/content-5.avif 1x, img/content/content-5@2x.avif 2x" type="image/avif">
                        <source srcset="img/content/content-5.webp 1x, img/content/content-5@2x.webp 2x" type="image/webp">
                        <img src="img/content/content-5.jpg"
                             srcset="img/content/content-5@2x.jpg 2x"
                             alt="Content image"
                             loading="lazy">
                    </picture>
                </div>

                <div class="post_content">
                    <div class="post_meta_left">
                        <h2>Today</h2>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                128
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                31
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_center">
                        <time datetime="2016-08-09" class="post_date">9-08-2016</time>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                67
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                22
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_right">
                        <span class="post_action_type">Image upload</span>
                        <time datetime="2016-04-11" class="post_action_date">11-04-2016</time>
                    </div>
                </div>
            </article>
        </li>
        <li class="posts_item">
            <article class="post_card">
                <div class="post_preview">
                    <picture>
                        <source srcset="img/content/content-6.avif 1x, img/content/content-6@2x.avif 2x" type="image/avif">
                        <source srcset="img/content/content-6.webp 1x, img/content/content-6@2x.webp 2x" type="image/webp">
                        <img src="img/content/content-6.jpg"
                             srcset="img/content/content-6@2x.jpg 2x"
                             alt="Content image"
                             loading="lazy">
                    </picture>
                </div>

                <div class="post_content">
                    <div class="post_meta_left">
                        <h2>Today</h2>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                128
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                31
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_center">
                        <time datetime="2016-08-09" class="post_date">9-08-2016</time>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                67
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                22
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_right">
                        <span class="post_action_type">Image upload</span>
                        <time datetime="2016-04-11" class="post_action_date">11-04-2016</time>
                    </div>
                </div>
            </article>
        </li>
        <li class="posts_item">
            <article class="post_card">
                <div class="post_preview">
                    <picture>
                        <source srcset="img/content/content-7.avif 1x, img/content/content-7@2x.avif 2x" type="image/avif">
                        <source srcset="img/content/content-7.webp 1x, img/content/content-7@2x.webp 2x" type="image/webp">
                        <img src="img/content/content-7.jpg"
                             srcset="img/content/content-7@2x.jpg 2x"
                             alt="Content image"
                             loading="lazy">
                    </picture>
                </div>

                <div class="post_content">
                    <div class="post_meta_left">
                        <h2>Today</h2>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                128
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                31
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_center">
                        <time datetime="2016-08-09" class="post_date">9-08-2016</time>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                67
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                22
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_right">
                        <span class="post_action_type">Image upload</span>
                        <time datetime="2016-04-11" class="post_action_date">11-04-2016</time>
                    </div>
                </div>
            </article>
        </li>
        <li class="posts_item">
            <article class="post_card">
                <div class="post_preview">
                    <picture>
                        <source srcset="img/content/content-8.avif 1x, img/content/content-8@2x.avif 2x" type="image/avif">
                        <source srcset="img/content/content-8.webp 1x, img/content/content-8@2x.webp 2x" type="image/webp">
                        <img src="img/content/content-8.jpg"
                             srcset="img/content/content-8@2x.jpg 2x"
                             alt="Content image"
                             loading="lazy">
                    </picture>
                </div>

                <div class="post_content">
                    <div class="post_meta_left">
                        <h2>Today</h2>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                128
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                31
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_center">
                        <time datetime="2016-08-09" class="post_date">9-08-2016</time>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                67
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                22
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_right">
                        <span class="post_action_type">Image upload</span>
                        <time datetime="2016-04-11" class="post_action_date">11-04-2016</time>
                    </div>
                </div>
            </article>
        </li>
        <li class="posts_item">
            <article class="post_card">
                <div class="post_preview">
                    <picture>
                        <source srcset="img/content/content-9.avif 1x, img/content/content-9@2x.avif 2x" type="image/avif">
                        <source srcset="img/content/content-9.webp 1x, img/content/content-9@2x.webp 2x" type="image/webp">
                        <img src="img/content/content-9.jpg"
                             srcset="img/content/content-9@2x.jpg 2x"
                             alt="Content image"
                             loading="lazy">
                    </picture>
                </div>

                <div class="post_content">
                    <div class="post_meta_left">
                        <h2>Today</h2>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                128
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                31
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_center">
                        <time datetime="2016-08-09" class="post_date">9-08-2016</time>
                        <div class="post_engagement">
                            <span class="engagement_item" aria-label="128 лайков">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-heart"></use></svg>
                                67
                            </span>
                            <span class="engagement_item" aria-label="31 комментарий">
                                <svg width="15" height="14"><use href="/sprite.svg#icon-comments"></use></svg>
                                22
                            </span>
                        </div>
                    </div>

                    <div class="post_meta_right">
                        <span class="post_action_type">Image upload</span>
                        <time datetime="2016-04-11" class="post_action_date">11-04-2016</time>
                    </div>
                </div>
            </article>
        </li>
    </ul>


        <button type="button" class="btn_load_more">Load more</button>

</div>
